#
# Standard Maven .gitignore
#
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

#
# IntelliJ
#
*.iml
.idea/*
!.idea/runConfigurations/

#
# Visual Studio Code
#
.settings/
.classpath
.factorypath
.project
.vscode/
src/main/resources/fxml/6x6.fxml
src/main/java/com/project/App.java
src/main/java/com/project/Controller.java
src/main/resources/fxml/12x12.fxml
src/main/resources/fxml/6x6.fxml
src/main/resources/fxml/9x9.fxml
